html{
    background-color: rgb(233, 231, 231);
}
* {
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
article{   
    width: 376px;
    margin: 3rem auto 0 auto;
    height: max-content;
    background-color: hsl(0, 0%, 100%);
    padding-bottom: .5rem;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
}
/************************************************ Cards**********************************************/
.card{
    position: absolute;
    background-size: cover;
    width: 16rem;
    height: 8.5rem;
    padding: 1rem;
    border-radius: 0.5rem;
    color: hsl(0, 0%, 100%);
}
.card_1{
    background-image: url(./images/bg-card-front.png);
    transform: translate(1rem, 7rem);
    z-index: 10;
    
}
.card_2{
    background-image: url(./images/bg-card-back.png);
    transform: translate(4.5rem, 1.4rem);
    z-index: 1;
    text-align: right;
    font-size: .55REM;
    letter-spacing: 0.1rem;
    font-weight: 300;
}
.card-logo{
    width: 3rem;
}
.cardNumber{
    display: block;
    letter-spacing: .2rem;
    margin-top: 3rem;
    margin-bottom: 1rem;
    width: 100%;
}
.cardName, .cardDate{
    font-size:.6rem;
    letter-spacing: .1rem;
    font-weight: 300;
}
.cardDate{
    margin-left: 6.5rem;
}
.card_2_label{
    margin-top: 3.6rem;
    margin-right: 1.3rem;
}
/************************************************ Form**********************************************/
.sect_1{
    background: url(./images/bg-main-mobile.png);
    width: 100%;
    height: 15rem;
}
/* .form{display: none;} */
.form, .sect_3{
    padding: 5rem 1.2rem 2rem 1.2rem;
}
.form{position: relative; z-index: 1;}
.form label{
    display: block;
    font-size: .75rem;
    font-weight: 700;
    letter-spacing: 0.1rem;
    color: hsl(278, 68%, 11%);
    margin-top: 1rem;
}
.form input, .sect_3 input{
    margin: .5rem 0  0rem 0;
    padding: .75rem;
    border-radius: 0.4rem;
    font-size: 1.1rem;
    border: hsl(270, 3%, 87%) solid 0.1rem;
    margin-bottom: .5rem;
}
.form input{
    position: relative;
    z-index: 20;
}
.form input:focus{
    outline: none;
}
input::placeholder{color: hsl(270, 3%, 87%);}

/************border input name and number*****************/
.borderInput::after {
    content: "";
    position: absolute;
    transform: translate( -20.7rem, -0.05rem);
    width: 20.75rem;
    height: 3rem;
    margin-top: .5rem;
    background: linear-gradient(to right,   hsl(249, 99%, 64%), hsl(278, 94%, 30%)   );
    border-radius: .45rem;
    z-index: 10;
    /* display: none; */
  }
.bigInput{width: 90%;}
/*******************************************************/

/************alerts ************************************/
#input_2{margin-bottom: .5rem ;}
.alert{
    width: 15rem;
    color: hsl(0, 100%, 66%);
    font-size: .7rem;
    font-weight: 500;
   /* display: none;  */
}
#input_3{margin-bottom: .5rem;}
#input_5{margin-bottom: .5rem;}
/******************************************************/

.formDiv{display: flex; margin-bottom: 1rem;}

.childDiv_1{width: 13rem;}

.contentInoutSmall{display: flex; flex-direction: row;}

/************border input MM ***************************/
.smallInput{width: 60%;}
.borderInputSmall1::after{
    content: "";
    position: absolute;
    transform: translate( -4.5rem, -0.05rem);
    width: 4.56rem;
    height: 3rem;
    margin-top: .5rem;
    background: linear-gradient(to right,   hsl(249, 99%, 64%), hsl(278, 94%, 30%)   );
    border-radius: .45rem;
    z-index: 10;
    /* display: none; */
}
/******************************************************/

/************border input YY *********r*****************/
.borderInputSmall2::after{  transform-origin: center; position: relative;}
.borderInputSmall2::after{
    content: "";
    position: absolute;
    transform: translate( .25rem, -3.94rem);
    width: 4.6rem;
    height: 3rem;
    margin-top: .5rem;
    background: linear-gradient(to right,   hsl(249, 99%, 64%), hsl(278, 94%, 30%)   );
    border-radius: .45rem;
    z-index: 10;
    /* display: none; */
}
/******************************************************/
/************border input CVC**************************/
.mediumInput{width: 80%;}
.borderInputMed::after{
    content: "";
    position: absolute;
    transform: translate( -10.5rem, -.05rem);
    width: 10.6rem;
    height: 3rem;
    margin-top: .5rem;
    background: linear-gradient(to right,   hsl(249, 99%, 64%), hsl(278, 94%, 30%)   );
    border-radius: .45rem;
    z-index: 10;
    display: none;
}
/******************************************************/


#input_4{margin-left: .3rem;}




.childDiv_2{margin-left: .7rem;}


.button{
    background-color: hsl(278, 68%, 11%);
    color: hsl(0, 0%, 100%);
    width: 100%;
    height: 3.5rem;
    font-weight: 400;
    margin-top: 10rem;
}

/************************************************ thanks section **********************************************/
.sect_3{
    color: hsl(278, 68%, 11%);
    display: flex;
    flex-direction: column;
    align-items: center;
    display: none;
}
.thanks{
    margin-top: 3rem;
    font-size: 1.8rem;
    letter-spacing: 0.1rem;
}
.SubThanks{
    color: hsl(279, 6%, 55%);
    margin: 0rem 0 3rem 0;
}


.attribution { font-size: 11px; text-align: center; margin-top: 1rem;}
.attribution a { color: hsl(228, 45%, 44%); }


@media (min-width:930px) and (max-width:1089px) {
    main{
        width: 98vw;
    }
    article{   
        width: 100%;
        display: contents;
        display: grid;
        grid-template-columns: 31vw 40rem;
    }
    .sect_1{
        background: url(./images/bg-main-desktop.png);
        height: 55.3rem;
    }
    .form{
        width: 21.5rem;
        margin: 6rem 3rem 3rem 22vw ;
    }
    .card_1{
        transform: translate(.7rem, 8.5rem);
    }
    .card_2{
        transform: translate(5.8rem, 24.5rem);
    }
    .card{
        width:21.7rem;
        height: 10.6rem;
        padding: 1.6rem;
    }
    .card-logo{
        width: 4.5rem;
    }
    .cardNumber{
        margin-top: 3.5rem;
        margin-bottom: 1.5rem;
        font-size: 1.5rem;
        font-weight: 400;
        letter-spacing: 0.15rem;
    }
    .cardName, .cardDate, .card_2_label{
        font-size:.8rem;
    }
    .cardDate{
        margin-left: 45%;
    }
    .card_2_label{
        margin-top: 4.75rem;
        margin-right: 1.4rem;
    }
    /************border input name and number*****************/
    .borderInput::after {
        transform: translate( -21rem, -0.05rem);
        width: 21.05rem;
        height: 3rem;
    }

    /************border input YY *********r*****************/
    .borderInputSmall2::after{
        transform: translate( .2rem, -3.94rem);
        width: 4.7rem;
        height: 3rem;
    }
    /******************************************************/
    /************border input CVC**************************/
    .mediumInput{width: 80%;}
    .borderInputMed::after{
        transform: translate( -10.7rem, -.05rem);
        width: 10.8rem;
        height: 3rem;
    }
    /******************************************************/

    }

    @media (min-width: 1090px) {
        main{
            width: 98vw;
        }
        article{   
            width: 100%;
            display: contents;
            display: grid;
            grid-template-columns: 31vw 40rem;
        }
        .sect_1{
            background: url(./images/bg-main-desktop.png);
            height: 55.3rem;
        }
        .form{
            width: 21.5rem;
            margin: 6rem 3rem 3rem 22vw ;
        }
        .card_1{
            transform: translate(5.7rem, 8.5rem);
        }
        .card_2{
            transform: translate(10.8rem, 24.5rem);
        }
        .card{
            width:21.7rem;
            height: 10.6rem;
            padding: 1.6rem;
        }
        .card-logo{
            width: 4.5rem;
        }
        .cardNumber{
            margin-top: 3.5rem;
            margin-bottom: 1.5rem;
            font-size: 1.5rem;
            font-weight: 400;
            letter-spacing: 0.15rem;
        }
        .cardName, .cardDate, .card_2_label{
            font-size:.8rem;
        }
        .cardDate{
            margin-left: 45%;
        }
        .card_2_label{
            margin-top: 4.75rem;
            margin-right: 1.4rem;
        }
        /************border input name and number*****************/
        .borderInput::after {
            transform: translate( -21.05rem, -0.05rem);
            width: 21.1rem;
            height: 3rem;
        }
        
        /************border input YY *********r*****************/
        .borderInputSmall2::after{
            transform: translate( -4.6rem, -.05rem);
            width: 4.7rem;
            height: 3rem;
        }
        /******************************************************/
         /************border input CVC**************************/
         .mediumInput{width: 80%;}
         .borderInputMed::after{
             transform: translate( -10.7rem, -.05rem);
             width: 10.75rem;
             height: 3rem;
         }
         /******************************************************/
    }